* {
	font-family: Consolas;
	color: white;
}

body {
	background: black;
	color: white;
	margin: 5vh;
}

#return {
	color: #999;
	position: absolute;
	left: 10px;
	top: 10px;

	text-decoration: none;
	transition: color 0.25s, letter-spacing 0.25s;
}
#return:hover {
	color: #fff;
	letter-spacing: 1px;
}
#return:active {
	color: #aaf;
	letter-spacing: -1px;
}

p, pre {
	margin: 2px 20px;
}

#current::before {
	content: "$";
	position: absolute;
	margin-left: -20px;
}
#current::after {
	position: absolute;
	content: "|";
	margin-left: -5px;
	animation: pulsate 0.5s ease infinite;
}

.pulsate {
	animation: pulsate 0.5s ease infinite;
}

@keyframes pulsate {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}